*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Rock filter=lfs diff=lfs merge=lfs -text
9.fbx filter=lfs diff=lfs merge=lfs -text
Rock9.fbx filter=lfs diff=lfs merge=lfs -text
